/*Fontes google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Fontes google*/


/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F5F5;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: #84ADC2;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #84ADC2;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #84adc2;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #E1E9ED;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    color: #000;
}

header nav.menu-desktop a:hover {
    color: rgb(128, 151, 189);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO DO MENU MOBILE*/
.btn-abrir-menu i{
    color: #6DB7DC;
    font-size: 40px;
}

.menu-mobile{
    background-color: #E1E9ED;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #6DB7DC;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #6db7dc;
    color: #000;
}

.overlay-menu{
    background-color: #0000009a;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.btn-abrir-menu{
    display: none;
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #84ADC2;
    font-size: 48px;
}

.topo-do-site .txt-topo-site p {
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* ESPECIALIDADES */
.especialidades {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    width: 800px;
    padding: 40px;
    border-radius: 20px;
    background-color: #E1E9ED;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.275), 0 -5px 5px rgba(0, 0, 0, 0.027);
}

.skills ul {
    list-style: none;
}

.skills ul li {
    margin: 20px 0;
}

.skills .barras {
    background-color: #ccc;
    display: block;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.barras>span {
    height: 20px;
    background: linear-gradient(to right, #84ADC2, #6DB7DC);
    position: absolute;

}

.html {
    width: 80%;
    animation: html 6s;
}

.css {
    width: 70%;
    animation: css 6s;
}

.javascript {
    width: 30%;
    animation: javascript 6s;
}

.python {
    width: 20%;
    animation: python 6s;
}

.git {
    width: 90%;
    animation: git 6s;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30PX;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

@keyframes git {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/*ESTILO DO SOBRE */

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #6DB7DC;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #6DB7DC;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO PORTFÓLIO*/
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #84adc22c;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #F5F5F5;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO*/

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #6db7dc;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000000;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #84adc2;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form input::placeholder {
    color: #000;
}

form textarea::placeholder {
    color: #000;
}

/* ESTILO DO RODAPÉ*/

footer {
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px #E1E9ED;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

footer .line-footer p i {
    color: #6DB7DC;
    font-size: 22px;
}

.borda {
    border-top: 2px solid #6DB7DC;
}

footer .line-footer p a {
    color: #6DB7DC;
}

@media screen and (max-width: 1020px) {

    /*CLASSES GERAIS@*/
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* CABEÇALHO*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE*/

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }
    
    .btn-abrir-menu{
        display: block;
    }
    

    /*SOBRE*/
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

/*PORTFÓLIO*/
    section.portfolio{
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

/*RODAPÉ*/

    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }

}